.logo{
    position: relative;
     width: auto;
     height: 10px;
     background-color: #e79e70;
     margin: 10px;
 }
 
 
 .header{
     width: 100%;
     height: 10px;
     background-color: #5b179b;
     display: inline;
     justify-content: left;
     align-items: center;
 }
 
 .head-nav{
     position: auto;
     display: flex;
     width: 150px;
     height: 100vh;
     flex-wrap: wrap;
     background-color: #F2CCB6;
 }
 
 .footer{
    
     display: flex;  
     width: 100%;
     justify-content: center;
     height: 35px;
     background-color: #F2CCB6;
 }
 
 
 .content {
     
     background-color: #d16405cc;
     padding: 20px 20px 5px 20px;
     display:auto;
     margin: 200px;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius: 10px;
     width: 100%;
     
 }
 
 .formulario{
     background-color: #d16405cc;
     display:auto;
     padding: 20px 20px 5px 20px;
     margin: 180px;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius: 10px;
     width: 100%;
     
 }