*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.head-nav{
    display: flex;
    width: 150px;
    height: 100vh;
    flex-wrap: wrap;
}
/*======logo=======*/
.head-nav .nav-logo{
    display: flex;
    width: 100%;
    height: 20%;
}

.head-nav .nav-logo a{
    width: 100%;
    background: url(assets/logo.svg) round;
    margin: 10px 0px;
}
/*====fin-logo======*/
.head-nav .nav-bar{
    display: flex;
    height: 70%;
}

.nav-bar .navlist{
    position: relative;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.nav-bar .navlist li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    list-style: none;
    cursor: pointer;
    width: 150px;
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.nav-bar .navlist li:hover{
    box-shadow: 0 16px 25px rgba(0, 0, 0, 0);
}

.nav-bar .navlist li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

.nav-bar .navlist li:hover::before{
    opacity: 1;
}

.nav-bar .navlist li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, red, orange);
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.nav-bar .navlist li:hover::after{
    opacity: 0.5;
}

.nav-bar .navlist li a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar .navlist li .title{
    color: black;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.25s;
    transition-delay: 0s;
}

.nav-bar .navlist li:hover .title{
    transform: scale(1);
    transition-delay: 0.25s;
}

/*===============footer==================*/
.head-nav .nav-footer{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    align-items: center;
}

.head-nav .nav-footer .link{
    color: black;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.head-nav .nav-footer .link[href*="facebook"]:hover{
    transition: background .3s, color .3s;
    color: blue;
    border-radius: 100%;
    background: white;
}
.head-nav .nav-footer .link[href*="instagram"]:hover{
    transition: background .3s, color .3s;
    color: white;
    border-radius: 20px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.head-nav .nav-footer .link[href*="whatsapp"]:hover{
    transition: background .3s, color .3s;
    color: white;
    border-radius: 30px;
    background: green;
}

.head-nav .nav-footer i{
    font-size: 30px;
}
/*===============fin-footer==================*/

ul li svg{
    font-size: 1.75em;
    transition: 0.25s;
    transition-delay: 0.25s;
}

ul li:hover svg{
    transform: scale(0);
    color: #fff;
    transition-delay: 0s;
}

ul li span{
    position: absolute;
}